html, body {
  margin:0;
  padding:0;
  height:100%; 
  background-color: black;
  /* background-color: #474853; */

  font-family: 'PT Mono', monospace;
} 

#root {
  min-height: 100%;
  height: 100%;
}

.App {
  min-height: 100%;
  height: 100%;
  /* min-height: 1000px; */
  /* background-color: black; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#chordsLine, #lyricsLine {
  display: block;
}

#lines {
  width: 90%;
  color: black;
  margin: 20px auto;
  list-style: none;
  padding-left: 0;
}

#lines p {
  margin: 0 0 7px 0;
  display: inline-block;
}

#chordsLine {
  margin-top: 7px;
}

#lines #chords {
  display: block;
}

header {
  background-color: white;
}

#body {
  width: 1098px;
  margin: 0 auto;
  background: white; 
  min-height: 100%;
  position: relative;
  /* #EAE7DC; */
}

h1 {
  margin: 0;
  padding: 20px 0 ;
  text-align: center;
}

form {
  margin: auto;
  width: 90%;
}

#outlined-basic {
  color: black;
}

#extra {
  margin-top: 7px;
  width: 100%;
}