html {
  background-color: #474853;
  font-family: "Lucida Console", Monaco, monospace;
}

.App {
  text-align: center;
  min-height: 1000px;
  /* background-color: black; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#lyrics {
  width: 90%;
  color: black;
  margin: 20px auto;
  list-style: none;
  padding-left: 0;
}

#lyrics li {
  text-align: left;
  margin: 10px 0;
  text-decoration-style: none;
}

header {
  background-color: white;
}

body {
  width: 1098px;
  margin: 0 auto;
  background: #EAE7DC;
}

h1 {
  margin: 0;
  padding: 20px 0 ;
}

form {
  margin: auto;
  width: 90%;
}

#outlined-basic {
  color: black;
}
